body{

	margin-right: auto;
	margin-left: auto;
	font-size: 24px;
}
div.tupian{
	margin-top:30px;
}
div.shuru{
	margin-left:50px;
}
div.type{
	font-size: medium;
}
div.shuru{
	margin-top: 5px;
}
input.shuru{
	width:400px;
	height:28px;
}
div.mid{
	margin-top:30px;
}
.mid center a {
	font-size: 15px;
}
.footer div a {
	font-size: 4px;
}
.header div a {
	font-size: 4px;
}
.footer div span samp {
	color: #666;
}
